<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Forecast</title>
		<link href="https://fonts.googleapis.com/css?family=Oswald|Roboto" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/app.css">
</head>
<body>
	<div class="topnav">
		<a class="active" href="/">Home</a>
		<div class="search-container">
			<form action="/search">
					<span id="searchSpan">Weather in your city  </span><input type="text" placeholder="Search.." name="search">
				<button type="submit"><i class="fa fa-search"></i></button>
			</form>
		</div>
	</div>